
/*-------------------------library Nav bar--------------------------*/
#lib-nav{
	height: auto;
}
#lib-nav>#lib-h1{
	margin: 0px;
	background: linear-gradient(45deg,whitesmoke,blanchedalmond,gold,lightcyan,whitesmoke);
	text-align: center;
	font-size: 45px;
	text-transform: uppercase;
	font-family: cursive;
}

/*-------------------------library navbar links--------------------------*/

#nav-link{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	text-align: center;
	height: 30px;
}
#nav-link>a{
	text-decoration: none;
	text-transform: uppercase;
	color: black;
	text-align: center;
}
#nav-link a:hover{
	box-shadow: 2.5px ghostwhite;
	cursor: pointer;
	border-color: limegreen;
	border-radius: 10px;
	border-style: dashed;
}

/*==========================library content=================================*/
#lib-cont{
	background:yellow url('../Images/library.webp') no-repeat center scroll;
	background-size:cover;
	height:80vh;
}
#lib-cont>#lib-cont-main{
	background-color:rgba(0,0,0,0.6);
	height:inherit;
	display:flex;
	text-align:center;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	color:white;
}
#lib-cont>#lib-cont-main>h1{
	font-size: 45px;
}
#lib-cont>#lib-cont-main>h1>span:nth-child(1){
	color: black;
}
#lib-cont>#lib-cont-main>h1>span:nth-child(2){
	
}
#lib-cont>#lib-cont-main>h1>span:nth-child(2)>a{
	text-decoration: none;
	color: yellow;	
}
#lib-cont>#lib-cont-main>h1>span:nth-child(3){
	color: yellow;
	font-style: oblique;	
}
#lib-cont>#lib-cont-main>h3{
	font-size: 25px;
	text-transform: uppercase;

}
#lib-cont>#lib-cont-main>h3>span{
	color: yellow;
	font-style: oblique;
}
#lib-cont>#lib-cont-main>p{
	text-align: center;
	margin-left: 200px;
	margin-right: 200px;
	font-size: 18px;
	color: antiquewhite;
}

/*========================content of the library webpage-============================*/
#sec-cont{
	background: rgba(100, 100, 0, 0.6);
}
#sec-art{
	font-size: 28px;
	margin-left: 50px;
	color: whitesmoke;
	padding-top: 5px;
}
#sec-p{
	color: rgba(0, 0, 0, 1.85);
	font-size: 18px;
	margin-left: 150px;
	margin-right: 140px;
	margin-bottom: 0px;
	padding-bottom: 5px;
}
#sec-span{
	color: yellow;
}

/*===========================library gallery====================================*/
#lib-gal{
	background: rgba(100, 100, 0, 0.40);
	margin-bottom: 20px;
}
#lib-gal>h1{
	color: antiquewhite;
	text-decoration: initial;
	margin-top: 0px;
	margin-left: 100px;
}
#lib-gal1{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	background: rgba(100, 100, 0, 0.40);
}
#lib-gal1>img{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 350px;
	height: 210px;
	background: rgba(100, 100, 0, 0.40);
}
#lib-gal1>img:hover{
	cursor: help;
	box-shadow: 10px 10px 10px 10px lemonchiffon;
	background: rgba(100, 100, 0, 0.40);
}