			/*---------------------------body--------------------------------*/
body{
	margin: 0px;
	background-color: ghostwhite;
}

/*-----------------------------------------header----------------------------------*/
header{
	background-color:black;
	height:60px;
	display:flex;
	flex-direction: row;
	align-items:center;
	justify-content:space-between;
}
header>h1{
    font-size: 40px;
    margin: 0px 0px 0px 10px;
    color: whitesmoke;
}
header>h1>a{
	text-decoration: none;
	cursor: pointer;
}
#T{
text-decoration: none;
    color: whitesmoke;
}
header>#links>a{
    text-decoration: none;
    color: whitesmoke;
    margin:7px;
	padding:6px 10px;
    border-radius: 10px;
}
header>#links>a:hover{
    cursor: pointer;
    background-color:yellow;
	color:limegreen;
	box-shadow:0 0 10px white;
    
}
.fas,.far{
	padding: 5px;
}
header>h1>a>span{
    color:yellow;
}

/*----- -------------------------------------media queries-----------------------------------------*/
@media(min-width: 0px) and (max-width:700px ){
	header{
		flex-direction: column;
		height: 130px;
	}
	header>h1{
		font-size: 35px;
		align-items: center;
	}
	header>#lk{
		position: relative;
		top: -20px;
		padding: -10px;
		align-items: center;
		display: flex;
		flex-direction: row;
		justify-content: normal;
	}
}
@media(min-width: 701px) and (max-width: 1045px){
	header{
		height: 100px;
		flex-direction: column;
	}
	header>h1{
		font-size: 40px;
		text-align: center;
	}

}
@media(min-width: 1046px) and (max-width: 1187px){
	header{
		height: 80px;
	}
	header>h1{
		font-size: 30px;
	}
}
@media(min-width: 1188px) and (max-width: 1366px){
	header{
		height: 90px;
		stop-color: whitesmoke;
		scroll-behavior: smooth;
	}
}



/*~~~~~~~~~~~~-----------------------nav bar-----------------------------------~~~~~~~~~~~*/
nav{
	background-color: rgba(0, 0, 0, 0.5);
}
nav>#nav-links{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
nav>#nav-links>a{
	text-decoration: none;
    color: whitesmoke;
    margin:7px;
	padding:6px 10px;
    border-radius: 10px;
}
nav>#nav-links>a:hover{
	cursor: pointer;
    background-color:yellow;
	color:limegreen;
	box-shadow:0 0 10px white;
}

/*-------------Landing page---------------------*/

#landing{
	background: #f5f5f5 url('../Images/compus.webp') no-repeat center scroll;
	background-size:cover;
	height:100vh;
}
#landing>#landing-wrap{
	background-color:rgba(0,0,0,0.6);
	height:inherit;
	display:flex;
	text-align:center;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	color:white;
}
#landing>#landing-wrap>h1{
	font-size: 70px;
	display:flex;
	text-align:center;
	align-items:center;
	justify-content:center;
	color:white;
	margin: 0px;
}
#landing>#landing-wrap>h1>span:nth-child(1){
	color: black;
}
#landing>#landing-wrap>h1>span:nth-child(2){
	color: yellow;
}
#landing>#landing-wrap>h1>span:nth-child(2)>a{
	text-decoration: none;
	color: inherit;
}
#landing>#landing-wrap>h1>span:nth-child(2)>a:hover{
	cursor: pointer;
	box-shadow: 0 0 10px yellow;
	border-radius: 10px;
}
#landing>#landing-wrap>h3{
	color: limegreen;
	font-size: 25px;
}
#landing>#landing-wrap>p{
	margin-left: 250px;
	margin-right: 250px;

}



/*--------------------Description about college--------------------------------*/
#desc{
	background-color:rgba(0,0,0,0.6);
	display:flex;
	text-align:center;
	flex-direction:column;
	align-items:center;
	justify-content:center;
	color:white;
	border: 0 0 3px inset;
	border-radius: 50px;
}
#desc>article>h1>span>a{
	text-decoration: none;
	color: yellow;

}

/*----------------------------table description------------------------------*/

.img,#simg{
	width: 100%;
	height: 300px;
	border-radius: 50px;
}
.imgh>.img:hover{
	box-shadow: 0 0 10px;
}

/*-------------------------------- footer-------------------------------*/

footer{
	background-color: rgba(0, 0, 0, 0.8);
	margin-top: 0px;
	height: 150px;
}
footer>#iname{
	display: flex;
	text-align: center;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer>#iname>h1>img>span{
	color: yellow;
}
#anc{
	text-decoration: none;
	color: yellow;
}

footer>#iname>p{
	color: whitesmoke;
	margin-top: -10px;
}
#blogn{
	text-decoration: none;
	color: yellow;
}
footer>#iname>span{
	color: blanchedalmond;
	margin-top: -5px;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}



/*=======================Examinations page----------------------*/
/*-------------------side bar----------------------------*/
/*-----Sidebar Styles-------*/
#section-exam>#aside-left
{
	position: relative;
	background-color:rgba(0, 0, 0, 0.3);
	top: -107px;
	width:152px;
	height:345px;
	text-align:center;
	padding:20px;
	float:left;
}
#section-exam>#aside-left>a
{
	color: black;
	display:block;
	text-decoration:none;
	text-transform: uppercase;
	margin-bottom:20px;
	padding:5px 15px;
}
#section-exam>#aside-left>a:hover
{
	background-color: yellow;
	color: green;
	box-shadow:0 0 10px whitesmoke;
	border-radius:10px;
	margin-right: 10px;
}
/*-----Sidebar Styles right-------*/
#section-exam>#aside-right
{
	position: relative;
	background-color:rgba(0, 0, 0, 0.3);
	top: -107px;
	width:160px;
	height:345px;
	text-align:center;
	padding: 20px;
	margin-left: 15px;
	float:right;
}
#section-exam>#aside-right>a
{
	color: black;
	display:block;
	text-transform: uppercase;
	text-decoration:none;
	margin-bottom:20px;
	padding:5px 15px;
}
#section-exam>#aside-right>a:hover
{
	background-color: yellow;
	color: green;
	width: 130px;
	box-shadow:0 0 10px whitesmoke;
	border-radius: 10px;
	margin-left: -10px;
}

/*----------------------section bar-----------------*/
#section-exam>section
{
	margin-left:153px;
	margin-right: 160px;
	color:red;
	background-color:white;
	padding:10px;
}
#section-exam>section>h1
{
	margin:0px;
}
#section-exam>section>article
{
	background-color:#5d5d5a;
	color:white;
	padding:10px;
	margin-top:5px;
	border-radius:20px;
}



/* ====================facilities page============================= */

/*-------------------side bar----------------------------*/
/*-----Sidebar Styles-------*/
#section-facility>#aside-left
{
	position: relative;
	background-color:rgba(0, 226, 225, 0.5);
	top: -107px;
	width:158px;
	height:345px;
	text-align:center;
	padding:20px;
	float:left;
}
#section-facility>#aside-left>a
{
	color: black;
	display:block;
	text-decoration:none;
	text-transform: uppercase;
	margin-bottom:20px;
	padding:5px 15px;
}
#section-facility>#aside-left>a:hover
{
	background-color: yellow;
	color: green;
	box-shadow:0 0 10px whitesmoke;
	border-radius:10px;
	margin-right: 10px;
}
/*-----Sidebar Styles right-------*/

#section-facility>#aside-right
{
	position: relative;
	background-color:rgba(0, 226, 225, 0.5);
	top: -107px;
	width:160px;
	height:345px;
	text-align:center;
	padding: 20px;
	margin-left: 15px;
	float:right;
}
#section-facility>#aside-right>a
{
	color: black;
	display:block;
	text-transform: uppercase;
	text-decoration:none;
	margin-bottom:20px;
	padding:5px 15px;
}
#section-facility>#aside-right>a:hover
{
	background-color: yellow;
	color: green;
	width: 130px;
	box-shadow:0 0 10px whitesmoke;
	border-radius: 10px;
	margin-left: -10px;
}

/*----------------------section bar-----------------*/
#section-facility>section
{
	margin-left:153px;
	margin-right: 160px;
	color:red;
	background-color:white;
	padding:10px;
}
#section-facility>section>h1
{
	margin:0px;
}
#section-facility>section>article
{
	background-color:#5d5d5a;
	color:white;
	padding:10px;
	margin-top:5px;
	border-radius:20px;
}